# Visual Studio dosyaları
.vs/
*.suo

# Build dosyaları
bin/
obj/

# Cache dosyaları
*.dbtcache.v2
*.futdcache.v2

# DLL Dosyalarını Hariç Tut
*.dll

# Cache Dosyalarını Hariç Tut
*.cache

# PDB ve EXE Dosyalarını Hariç Tut
*.pdb
*.exe