# Visual Studio dosyaları
.vs/
*.suo
*.suo

# Build dosyaları
bin/
obj/

# Cache dosyaları
*.dbtcache.v2
*.futdcache.v2

# DLL Dosyalarını Hariç Tut
*.dll

# Cache Dosyalarını Hariç Tut
*.cache

# PDB ve EXE Dosyalarını Hariç Tut
*.pdb
*.exe

# Debug klasörlerini hariç tut
*/obj/Debug/

# source link dosyalarını hariç tut
*.sourcelink.json

# Diğer istenmeyen dosya ve klasörler
DocumentLayout.backup.json
App.API/AssemblyInfo.cs

# obj klasörlerini hariç tut
**/obj/

# NuGet tarafından üretilen dosyaları hariç tut
*.nuget.g.props
*.nuget.dgspec.json

# project.assets.json dosyalarını hariç tut
project.assets.json